  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ isEdit() ? 'Editar' : 'Nueva' }} Habitacion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="form" (ngSubmit)="save()" class="ion-padding" >
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Precio por noche</ion-label>
          <ion-input type="number" formControlName="precioPorNoche"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Capacidad</ion-label>
          <ion-input type="number" formControlName="capacidad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button type="submit" [disabled]="form.invalid" expand="block">Guardar</ion-button>
        <ion-button fill="clear" color="medium" expand="block" (click)="cancel()">Cancelar</ion-button>
      </div>
    </form>
  </ion-content>